[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
parsel = "*"

[dev-packages]
pycodestyle = "*"
black = "*"

[requires]
python_version = "3.8"
